In [19]:
# Aplicando operações matemáticas e convertendo em string

print('adição -> ' + str (1+1))
print('subtração -> ' + str(4-2))
print('multiplicação - > ' + str(2*3))
print('potência -> '+str(3**2))

adição -> 2
subtração -> 2
multiplicação - > 6
potência -> 9

In [4]:
# Testando o conceito de váriavel

x = 150

y = 50

result = x + y

str(result)

'200'

In [17]:
#pegando posições de uma String

'Breno'[0:3]

'Bre'

In [30]:
#utilizando o format e evitando repetições

'Fui visitar a {0} e comi uma {1} depois outra {1}'.format('italia','pizza')

'Fui visitar a italia e comi uma pizza depois outra pizza'

In [28]:
#formatando numeros 

'{:2.1f}'.format(32.50000000000)

'32.5'

In [29]:
#criando uma lista

lista = []

In [30]:
# adicionando valores a lista
lista.append(2)
lista.append(3)

id(lista)

139652406698568

In [31]:
# criando tupla
# 139652407621096
x = tuple({1,2,3})
print(x)

(1, 2, 3)

In [32]:
# retornando valores da tupla
def retornando_tupla():
    return 123,'retorno',1.2

In [34]:
# visualizando os valores
x , y , z = retornando_tupla()
print(x)
print(y)
print(z)

123
retorno
1.2

In [71]:
#  append,remove,pop
lista = [1,2,3,4]
lista.append(5) # adiciona valor na lista
lista.pop(2) # remove pelo index
lista.remove(1) #remove o valor da lista e não o index
lista

[2, 4, 5]

In [78]:
# .len , .min , .max , . sum

len(lista) # informa o tamanho da lista
min(lista) # informa o menor valor
max(lista) #informa o maior valor
sum(lista) #soma valores da lista

11

In [6]:
# Diferenças entre set() e frozenset()
# set() = mutável
# frozenset() = imutável

s = set('breno')

s

{'b', 'e', 'n', 'o', 'r'}

In [10]:
# Operações de conjuntos
# | união  & intersecção - Diferença

a = {1,2,3,4}
b = {4,5,6,7}

print(a | b)

{'1', '4', '3', '2'}
{1, 2, 3, 4, 5, 6, 7}